.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  /* centers the calculator */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: lightslategray;
  padding: 15px;
  border-radius: 10px;

}

/* Grid container */
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  max-width: 300px;
  margin-top: 0;
  gap: 1px;
}

.gridChild {
  background-color: #3f441f;
  aspect-ratio: 1/1;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.operation {
  background-color: #3f441f;
  color: white;
  display: flex;
}

.equals {
  background-color: #3f441f;
  color: white;
  grid-column: span 2;
  aspect-ratio: 2/1;
}

.clear {
  color: orangered;
}

/* Display row */
.topRow {
  display: flex;
  width: 100%;
  max-width: 300px;
  margin-bottom: 0;
}

#display {
  background-color: #241F44;
  width: 100%;
  height: 50px;
  padding-top: 20%;
  border: 1px solid white;
  box-sizing: border-box;
  margin-bottom: 0;
  font-size: xx-large;
  color: white;

  text-align: right;
  padding: 10px 15px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}